/* Estilos generales */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0d0d0d;
    color: #33ffff;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

h1 {
    color: #33ffff;
}

.puzzle {
    margin: 20px auto;
    padding: 15px;
    background-color: #1a1a1a;
    border: 2px solid #33ffff;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    color: #33ffff;
}

h2 {
    color: #33ffff;
}

/* Estilos del tablero de ajedrez */
.chess-board {
    margin: 20px auto;
    border: 2px solid #33ffff;
    border-collapse: collapse;
}

.chess-board td {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
}

.letras {
    background-color: transparent;
    color: #33ffff;
    user-select: none;
}


/* Casilla con el número oculto */
.hidden-number {
    color: transparent; /* Oculta el número */
    transition: color 0.3s ease;
    user-select: none;
}

.hidden-number:hover {
    background-color: #33ffff; /* Cambia el color de fondo al pasar el ratón */
    
}

/* Estilo para las casillas */
.chess-board td.highlighted {
    background-color: #33ffff;
}

.chess-board td.dark {
    background-color: #1a1a1a;
}

table tr td:nth-child(8) {
    border-right: 1px solid #33ffff ;
}

table tr:nth-child(8) td {
    border-bottom: 1px solid #33ffff ;
}

